.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
  color: #fff;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

/*
  Enter Page
*/
.illustrationImgEnter {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.btnImageEnter {
  position: absolute;
  top: 60%;
  left: 31%;
  width: 32%;
  height: 20%;
  cursor: pointer;
  z-index: 1;
  display: block;
}

/*
  Home Page
*/

.illustrationImgHome {
  position: absolute;
  top: 0;
  right: 5%;
  width: 100%;
  height: 70%;
}
.containerBtnImage {
  position: absolute;
  /* cursor: pointer; */
  /* border: 2px solid red; */
}

.btnImgHomeLayer1 {
  top: 2.5%;
  width: 13%;
  height: 12%;
}
.homeBtnImg {
  left: 1%;
}
.menuBtnImg {
  right: 1%;
}

.btnImgHomeLayer3 {
  bottom: 13.5%;
  width: 25%;
  height: 15%;
}
.introductionBtnImg {
  left: 25%;
}
.monthlyNewsBtnImg {
  right: 27%;
}

.btnImgHomeLayer4 {
  width: 18%;
  height: 12%;
}
.projectBtnImg {
  left: 21%;
  bottom: 10%;
  width: 6%;
  height: 7%;
  cursor: pointer;
}
.crewBtnImg {
  left: 32%;
  bottom: 6%;
  width: 7%;
  height: 10%;
}
.contactUsBtnImg {
  left: 42%;
  bottom: 6%;
  width: 15%;
}
.musicBtnImg {
  right: 28%;
  bottom: 4.5%;
  height: 12%;
}
.mediaBtnImg {
  bottom: 3%;
  right: 15%;
  height: 15%;
}
.muteBtnImg {
  bottom: 7.5%;
  right: 1%;
  width: 12%;
  height: 8%;
}

.frameBtnImg {
  bottom: 1%;
  left: 18%;
  width: 63%;
  height: 25%;
}

.solomon {
  position: absolute;
  top: 60%;
  left: 22%;

  width: 55%;
  height: 15%;

  font-size: calc(1.275rem + 0.1vh) !important;
  font-family: "BebasNeue";
  color: rgb(255, 255, 255);
  line-height: 0.957;
  text-align: center;
  /* -moz-transform: matrix(0.66456416133755, 0, 0, 0.66456416133755, 0, 0);
  -webkit-transform: matrix(0.66456416133755, 0, 0, 0.66456416133755, 0, 0);
  -ms-transform: matrix(0.66456416133755, 0, 0, 0.66456416133755, 0, 0); */

  z-index: 8888882;

  border: 5px solid red;
}

/* Project Page */
.illustration1ImgProject1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 52%;
  height: 88%;
}
.illustration2ImgProject1 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 71%;
  height: 92%;
}

.titleBtnImg {
  position: absolute;
  display: block;
  top: -2%;
  left: 42%;
  width: 22%;
  height: 25%;
}
